In [31]:
#Call libraries
from sqlalchemy import create_engine
import pandas as pd

In [13]:
#Database path
database_path = 'icecreamstore.sqlite'

In [26]:
#Create engine that connect to the DB
engine = create_engine("sqlite:///" + database_path)

In [27]:
conn = engine.connect()

In [28]:
#Query
data = engine.execute("SELECT * FROM icecreamstore")

In [29]:
for record in data:
    print(record)

(1, 'Vanilla', 100, 1)
(2, 'Chocolate', 150, 1.25)
(3, 'Strawberry', 95, 1.25)
(4, 'Rocky Road', 50, 1.5)
(5, 'Cookie Dough', 75, 1.5)
(25, 'testflavor', 5, 0.25)

In [24]:
data = engine.execute("SELECT * FROM icecreamstore where price > 1.25")

In [25]:
for record in data:
    print(record)

(4, 'Rocky Road', 50, 1.5)
(5, 'Cookie Dough', 75, 1.5)

In [34]:
data = pd.read_sql("SELECT * FROM icecreamstore", conn)

In [35]:
data.head()

   ID       Flavors  Quantities  Price
0   1       Vanilla         100   1.00
1   2     Chocolate         150   1.25
2   3    Strawberry          95   1.25
3   4    Rocky Road          50   1.50
4   5  Cookie Dough          75   1.50