In [26]:
import pandas as pd
from sqlalchemy import create_engine

In [27]:
database_path = "Resources/Census_Data.sqlite"
database_path2 = "Resources/zip_census.sqlite"

In [28]:
engine = create_engine("sqlite:///" + database_path)
engine2 = create_engine("sqlite:///" + database_path2)

In [29]:
conn = engine.connect()
conn2 = engine2.connect()

In [30]:
data = pd.read_sql("SELECT * FROM Census_Data", conn)

In [44]:
data.columns.sort_values()

Index(['Asian Population', 'Black Population', 'CityState',
       'Education Associates', 'Education Bachelors', 'Education Doctorate',
       'Education GED', 'Education High School', 'Education Masters',
       'Education None', 'Education Professional',
       'Employment Female Computer Engineering', 'Employment Labor Force',
       'Employment Male Computer Engineering', 'Employment Unemployed',
       'Hispanic Population', 'Household Income', 'Income Per Capita',
       'Median Age', 'Median Female Age', 'Median Gross Rent',
       'Median Home Value', 'Median Male Age', 'Native American Population',
       'Population', 'Poverty', 'White Population', 'city', 'lat', 'lng',
       'state'],
      dtype='object')

In [40]:
data.size

30969

In [33]:
data2 = pd.read_sql("SELECT * FROM zip_census", conn2)

In [45]:
data2.columns.sort_values()

Index(['Asian Population', 'Black Population', 'CityState',
       'Education Associates', 'Education Bachelors', 'Education Doctorate',
       'Education GED', 'Education High School', 'Education Masters',
       'Education None', 'Education Professional',
       'Employment Female Computer Engineering', 'Employment Labor Force',
       'Employment Male Computer Engineering', 'Employment Unemployed',
       'Hispanic Population', 'Household Income', 'Income Per Capita',
       'Median Age', 'Median Female Age', 'Median Gross Rent',
       'Median Home Value', 'Median Male Age', 'Native American Population',
       'Population', 'Poverty', 'White Population', 'city', 'lat', 'lng',
       'state', 'zipcode'],
      dtype='object')

In [39]:
data2.size

7424

In [42]:
data3 = data2.merge(data, on='CityState', how='inner')

In [43]:
data3.size

682