In [3]:
import psycopg2
import pandas as pd

In [4]:
try:
    connection = psycopg2.connect(user = 'postgres',
                                 password = 'python123',
                                 host = 'localhost',
                                 port = '5432',
                                 database = 'animals_db')
    cursor = connection.cursor()
    #Print PostgreSQL version
    cursor.execute('SELECT * FROM people;')
    record = cursor.fetchone()
    df = pd.read_sql_query('select * from "Stat_Table"',con=engine)
    print("You are connected to - ", record, '\n')
    
except (Exception, psycopg2.Error) as error:
    print('Error while connecting to PostgreSQL', error)
finally:
    #Closing database connection
    if(connection):
        cursor.close()
        connection.close()
        print('PostgreSQL connection is closed')

Error while connecting to PostgreSQL (psycopg2.errors.UndefinedTable) relation "Stat_Table" does not exist
LINE 1: select * from "Stat_Table"
                      ^
 [SQL: 'select * from "Stat_Table"'] (Background on this error at: http://sqlalche.me/e/f405)
PostgreSQL connection is closed

In [1]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:python123@localhost:5432/animals_db')

In [4]:
df = pd.read_sql_query('select * from "people"',con=engine)

In [5]:
df

    name  has_pet pet_type    pet_name  pet_age
0  Jacob     True      dog       Misty       10
1  Ahmed     True     rock  Rockington      100
2  Peter     True      cat    Franklin        2
3   Dave     True      dog       Queso        1